<div class="container">
  <!-- <div class="d-flex mt-3 mb-3">Säähavaintoaseman haku</div> -->
  <!-- <p>Havaintoasemia tallennettu yhteensä {{ havaintoasemat.length }}</p> -->

  <h4><label for="search-box">Säähavaintoaseman haku</label></h4>
  <p>Kirjoita säähavaintoaseman nimi hakukenttään.</p>
  <div class="form-group">
    <input
      #searchBox
      id="search-box"
      class="form-control"
      (input)="search(searchBox.value)"
      placeholder="Etsi säähavaintoasema"
    />

    <ul class="search-result">
      <li *ngFor="let havaintoasema of hasemat">
        <a routerLink="/havaintoasematiedot/{{ havaintoasema._id }}">
          {{ havaintoasema.name }}
        </a>
      </li>
    </ul>
  </div>
</div>
