<!-- Tällä sivulla haetaan säähavaintoasema.
Ne näkyvät myös karttamerkkeinä kartalla ja niitä klikkaamalla myös pääsee havaintoaseman tietoihin. -->
<div class="container">
  <div class="card">
    <h1>Säähavaintoasemat</h1>
    <div class="form-group">
      <input
        #searchBox
        id="search-box"
        class="form-control"
        (input)="search(searchBox.value)"
        placeholder="Etsi säähavaintoasema"
        autocomplete="off"
      />

      <ul class="list-group no-bullets">
        <li *ngFor="let havaintoasema of hasemat">
          <a
            routerLink="/havaintoasematiedot/{{ havaintoasema?._id }}"
            class="list-group-item list-group-item-action"
          >
            {{ havaintoasema?.name }}
          </a>
        </li>
      </ul>
      <div class="card">
        <div class="kartta-sijainti">
          <div id="kartta"></div>
        </div>
      </div>
    </div>
  </div>
</div>
