<footer class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2020-2021 Copyright:
    <a href="http://saajuna-frontend.herokuapp.com/"> Sääjuna</a>
    <p>
      Liikennetietojen lähde
      <a href="https://www.fintraffic.fi/fi">Fintraffic</a> /
      <a href="https://www.digitraffic.fi/">Digitraffic</a>,
      <a href="https://creativecommons.org/licenses/by/4.0/">CC 4.0 BY</a>
    </p>
    <p>
      Säätietojen lähde
      <a href="https://www.ilmatieteenlaitos.fi/">Ilmatieteen laitos</a>,
      <a href="https://opensource.org/licenses/mit-license.php">MIT-lisenssi</a>
    </p>
  </div>

    <!-- Copyright -->
</footer>
