<!-- https://epicbootstrap.com/snippets/footer-dark

Footerin toiminnallisuus ja ulkoasu on melkein suoraan lainattu yllä olevasta osoitteesta.
Siitä on poistettu muutamia toiminnallisuuksia, joita ei tässä tarvittu (sosiaalisen median ikonit yms.).-->

<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Liikennetietojen lähteet</h3>
          <ul>
            <li><a href="https://www.fintraffic.fi/fi">Fintraffic</a></li>
            <li><a href="https://www.digitraffic.fi/">Digitraffic</a></li>
            <li>
              <a href="https://creativecommons.org/licenses/by/4.0/deed.fi"
                >CC 4.0 BY</a
              >
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>Säätietojen lähteet</h3>
          <ul>
            <li>
              <a href="https://www.ilmatieteenlaitos.fi/">Ilmatieteen laitos</a>
            </li>
            <li>
              <a href="https://opensource.org/licenses/mit-license.php"
                >MIT-lisenssi</a
              >
            </li>
            <li>
              <a href="https://creativecommons.org/licenses/by/4.0/deed.fi"
                >CC 4.0 BY</a
              >
            </li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>SääJuna</h3>
          <p>
            SääJuna-sovelluksessa haetaan tiedot sekä VR:n että Ilmatieteen
            laitoksen avoimesta datasta ja tuodaan ne käyttäjälle näkyviin
            sovellukseen.
          </p>
        </div>
        <div class="copyright">
          <p>SääJuna © 2021</p>
          <a href="https://saajuna.herokuapp.com/"> SääJuna</a>
          <p>Janne ja Leena Kähkönen</p>
        </div>
      </div>
    </div>
  </footer>
</div>
