<!-- Jos ei olla kirjauduttu sisään-->
<div class="container-md" *ngIf="!login">
  <div class="aloituskuva">
    <div class="card">
      <h1>Junat kartalla</h1>
      <div class="kartta-sijainti">
        <div id="kartta"></div>
      </div>
      <div class="card">
        <p>
          Sijaintitieto on päivittynyt viimeksi
          {{ timeEkanJunan | date: 'H:mm:ss' }}. Sijaintitiedot saadaan n. 15
          sekunnin välein. Kartta ei päivity automaattisesti.
        </p>

        <p>
          Kaikissa junissa
          <strong>EI</strong> ole GPS:ää päällä, joten niistä ei silloin saada
          paikkatietoja.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="card" *ngIf="login && username !== 'admin'">
  <div class="grid-container" *ngIf="login && username !== 'admin'">
    <!-- Sää suosikki 1-->
    <div class="suosikkisaa1" *ngIf="suosikkisaa1 !== null">
      <div class="card">
        <h2 class="card-title">
          <h1>Suosikki sää- ja rautatieasemat</h1>
          Sää {{ suosikkisaaasema1 }} klo
          {{ suosikkisaa1?.time | date: 'H:mm' }}
        </h2>
        <table class="table-responsive-lg">
          <thead>
            <tr>
              <th *ngIf="suosikkisaa1?.t2m !== null">Lämpötila</th>
              <th *ngIf="suosikkisaa1?.ws_10min !== null">Tuulen nopeus</th>
              <th
                *ngIf="
                  suosikkisaa1?.snow_aws !== null && suosikkisaa1?.snow_aws > 0
                "
              >
                Lumen syvyys
              </th>
              <th *ngIf="suosikkisaa1?.p_sea !== null">Ilmanpaine</th>
              <th *ngIf="suosikkisaa1?.vis !== null">Näkyvyys</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td *ngIf="suosikkisaa1?.t2m !== null">
                {{ suosikkisaa1?.t2m | number: '1.0-0' }} ℃
              </td>
              <td *ngIf="suosikkisaa1?.ws_10min !== null">
                {{ suosikkisaa1?.ws_10min | number: '1.0-0' }} m/s
                {{ tuulenNopeus(suosikkisaa1?.ws_10min) }}
              </td>
              <td
                *ngIf="
                  suosikkisaa1?.snow_aws !== null && suosikkisaa1?.snow_aws > 0
                "
              >
                {{ suosikkisaa1?.snow_aws }}
              </td>
              <td *ngIf="suosikkisaa1?.p_sea !== null">
                {{ suosikkisaa1?.p_sea }} hPa
              </td>
              <td *ngIf="suosikkisaa1?.vis !== null">
                {{ suosikkisaa1?.vis / 1000 | number: '1.0-0' }} km
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Sää suosikki 2-->
    <div class="suosikkisaa2" *ngIf="suosikkisaa2 !== null">
      <div class="card">
        <h2 class="card-title">
          Sää {{ suosikkisaaasema2 }} klo
          {{ suosikkisaa2?.time | date: 'H:mm' }}
        </h2>
        <table class="table-responsive-lg">
          <thead>
            <tr>
              <th *ngIf="suosikkisaa2?.t2m !== null">Lämpötila</th>
              <th *ngIf="suosikkisaa2?.ws_10min !== null">Tuulen nopeus</th>
              <th
                *ngIf="
                  suosikkisaa2?.snow_aws !== null && suosikkisaa2?.snow_aws > 0
                "
              >
                Lumen syvyys
              </th>
              <th *ngIf="suosikkisaa1?.p_sea !== null">Ilmanpaine</th>
              <th *ngIf="suosikkisaa2?.vis !== null">Näkyvyys</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td *ngIf="suosikkisaa2?.t2m !== null">
                {{ suosikkisaa2?.t2m | number: '1.0-0' }} ℃
              </td>
              <td *ngIf="suosikkisaa2?.ws_10min !== null">
                {{ suosikkisaa2?.ws_10min | number: '1.0-0' }} m/s
                {{ tuulenNopeus(suosikkisaa1?.ws_10min) }}
              </td>
              <td
                *ngIf="
                  suosikkisaa2?.snow_aws !== null && suosikkisaa2?.snow_aws > 0
                "
              >
                {{ suosikkisaa2?.snow_aws }}
              </td>
              <td *ngIf="suosikkisaa2?.p_sea !== null">
                {{ suosikkisaa2?.p_sea }} hPa
              </td>
              <td *ngIf="suosikkisaa2?.vis !== null">
                {{ suosikkisaa2?.vis / 1000 | number: '1.0-0' }} km
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Rautatie suosikki 1-->
    <div class="suosikkirautatie1" *ngIf="suosikkirautatie1 !== null">
      <div class="card">
        <h2 class="card-title">Rautatie {{ junaasema1?.stationName }}</h2>
        <table class="table-responsive-lg">
          <thead>
            <tr>
              <th>Juna</th>
              <th>Saapuu</th>
            </tr>
          </thead>
          <tbody *ngFor="let aikataulu of suosikkirautatie1">
            <tr *ngIf="aikataulu.arrivalScheduledTime">
              <td>
                <a
                  routerLink="/juna/aikataulu/{{
                    aikataulu?.arrivalScheduledTime | date: 'yyyy-MM-dd'
                  }}/{{ aikataulu?.trainNumber }}"
                  >{{ aikataulu?.trainNumber }} {{ aikataulu?.trainType }}</a
                >
              </td>
              <td
                *ngIf="
                  aikataulu?.arrivalDifferenceInMinutes > 0 ||
                  aikataulu?.arrivalDifferenceInMinutes < 0
                "
              >
                <del>{{
                  aikataulu?.arrivalScheduledTime | date: 'dd.MM H:mm'
                }}</del>
                {{ aikataulu?.arrivalLiveEstimateTime | date: 'H:mm' }}
              </td>
              <td
                *ngIf="
                  aikataulu?.arrivalDifferenceInMinutes === 0 ||
                  aikataulu?.arrivalDifferenceInMinutes === undefined
                "
              >
                {{ aikataulu.arrivalScheduledTime | date: 'dd.MM H:mm' }}
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table-responsive-lg">
          <thead>
            <tr>
              <th>Juna</th>
              <th>Lähtee</th>
            </tr>
          </thead>
          <tbody *ngFor="let aikataulu of suosikkirautatie1">
            <tr *ngIf="aikataulu?.departureScheduledTime">
              <td>
                <a
                  routerLink="/juna/aikataulu/{{
                    aikataulu?.departureScheduledTime | date: 'yyyy-MM-dd'
                  }}/{{ aikataulu?.trainNumber }}"
                  >{{ aikataulu?.trainNumber }} {{ aikataulu?.trainType }}</a
                >
              </td>
              <td
                *ngIf="
                  aikataulu?.departureDifferenceInMinutes > 0 ||
                  aikataulu?.departureDifferenceInMinutes < 0
                "
              >
                <del>{{
                  aikataulu?.departureScheduledTime | date: 'dd.MM H:mm'
                }}</del>
                {{ aikataulu?.departureLiveEstimateTime | date: 'H:mm' }}
              </td>
              <td
                *ngIf="
                  aikataulu?.departureDifferenceInMinutes === 0 ||
                  aikataulu?.departureDifferenceInMinutes === undefined
                "
              >
                {{ aikataulu?.departureScheduledTime | date: 'dd.MM H:mm' }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Rautatie suosikki 2-->
    <div class="suosikkirautatie2" *ngIf="suosikkirautatie2 !== null">
      <div class="card">
        <h2 class="card-title">Rautatie {{ junaasema2?.stationName }}</h2>
        <table class="table-responsive-lg">
          <thead>
            <tr>
              <th>Juna</th>
              <th>Saapuu</th>
            </tr>
          </thead>
          <tbody *ngFor="let aikataulu of suosikkirautatie2">
            <tr *ngIf="aikataulu?.arrivalScheduledTime">
              <td>
                <a
                  routerLink="/juna/aikataulu/{{
                    aikataulu?.arrivalScheduledTime | date: 'yyyy-MM-dd'
                  }}/{{ aikataulu?.trainNumber }}"
                  >{{ aikataulu?.trainNumber }} {{ aikataulu?.trainType }}</a
                >
              </td>
              <td
                *ngIf="
                  aikataulu?.arrivalDifferenceInMinutes > 0 ||
                  aikataulu?.arrivalDifferenceInMinutes < 0
                "
              >
                <del>{{
                  aikataulu?.arrivalScheduledTime | date: 'dd.MM H:mm'
                }}</del>
                {{ aikataulu?.arrivalLiveEstimateTime | date: 'H:mm' }}
              </td>
              <td
                *ngIf="
                  aikataulu?.arrivalDifferenceInMinutes === 0 ||
                  aikataulu?.arrivalDifferenceInMinutes === undefined
                "
              >
                {{ aikataulu?.arrivalScheduledTime | date: 'dd.MM H:mm' }}
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table-responsive-lg">
          <thead>
            <tr>
              <th>Juna</th>
              <th>Lähtee</th>
            </tr>
          </thead>
          <tbody *ngFor="let aikataulu of suosikkirautatie2">
            <tr *ngIf="aikataulu?.departureScheduledTime">
              <td>
                <a
                  routerLink="/juna/aikataulu/{{
                    aikataulu?.departureScheduledTime | date: 'yyyy-MM-dd'
                  }}/{{ aikataulu?.trainNumber }}"
                  >{{ aikataulu?.trainNumber }} {{ aikataulu?.trainType }}</a
                >
              </td>
              <td
                *ngIf="
                  aikataulu?.departureDifferenceInMinutes > 0 ||
                  aikataulu?.departureDifferenceInMinutes < 0
                "
              >
                <del>{{
                  aikataulu?.departureScheduledTime | date: 'dd.MM H:mm'
                }}</del>
                {{ aikataulu?.departureLiveEstimateTime | date: 'H:mm' }}
              </td>
              <td
                *ngIf="
                  aikataulu?.departureDifferenceInMinutes === 0 ||
                  aikataulu?.departureDifferenceInMinutes === undefined
                "
              >
                {{ aikataulu?.departureScheduledTime | date: 'dd.MM H:mm' }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
