<div class="container">
  <div *ngIf="salasanainfo" class="alert alert-success">
    <strong>Onnistui!</strong> Salasanasi on vaihdettu
  </div>
  <div *ngIf="poistoinfo" class="alert alert-info">
    <strong>Käyttäjätunnus poistettu!</strong> Kirjaudu ulos ylälaidasta.
  </div>
  <div *ngIf="error" class="alert alert-danger">
    <strong>Salasanan vaihto epäonnistui!</strong> Salasanat eivät täsmää.
  </div>
  <div *ngIf="error1" class="alert alert-danger">
    <strong>Salasanan vaihto epäonnistui!</strong> Vanha ja uusi salasana eivät
    voi olla samat.
  </div>
  <div *ngIf="junainfo" class="alert alert-info">
    <strong>Toiminto onnistui!</strong> {{ junainfo }}
  </div>
  <div *ngIf="username === 'admin'" class="alert alert-warning">
    <strong>Admin kirjautunut!</strong>
  </div>

  <h2>Hei käyttäjä, {{ username }}</h2>

  <!-- Suosikki rautatieaseman ja säähavaintoaseman määrittely-->
  <div *ngIf="username !== 'admin'">
  <h4>Suosikki rautatieasemien ja säähavaintoasemien määrittely</h4>
  <form #f="ngForm" (ngSubmit)="suosikkienPaivitys(f.value)" novalidate>
    <div class="form-group">
      <label for="favoritesJuna1">Rautatieasema suosikki 1:</label>
      <input type="text" class="form-control" id="favoritesJuna1" name="favoritesJuna1" placeholder={{suosikit.favoritesJuna1}} [(ngModel)]="favoritesJuna1" ngModel required/>
      <label for="favoritesJuna2">Rautatieasema suosikki 2:</label>
      <input type="text" class="form-control" id="favoritesJuna2" name="favoritesJuna2"placeholder={{suosikit.favoritesJuna2}}  [(ngModel)]="favoritesJuna2" ngModel required/>
      <label for="favoritesSaa1">Säähavainto suosikki 1:</label>
      <input type="text" class="form-control" id="favoritesSaa1" name="favoritesSaa1" placeholder={{suosikit.favoritesSaa1}} [(ngModel)]="favoritesSaa1" ngModel required/>
      <label for="favoritesSaa2">Säähavainto suosikki 2:</label>
      <input type="text" class="form-control" id="favoritesSaa2" name="favoritesSaa2" placeholder={{suosikit.favoritesSaa2}} [(ngModel)]="favoritesSaa2" ngModel required/>
    </div>

    <br />
    <div class="form-group">
      <!-- Lähetetään lomake eteenpäin -->
      <button type="submit" class="btn btn-success">Päivitä suosikit</button>
    </div>
  </form>

</div>




  <div *ngIf="username !== 'admin'">
    <div class="d-flex mt-3 mb-3">
      Omissa tiedoissa voit vaihtaa suosikki sää- ja juna-asemia, muuttaa
      salasanasi ja myös poistaa käyttäjätunnuksesi
    </div>

    <h4>Salasanan vaihto</h4>
    <form #f="ngForm" (ngSubmit)="salasanvaihto(f.value, f.valid)" novalidate>
      <div class="form-group">
        <label for="vanhasalasana">Vanha salasana:</label>
        <input
          #tunnus="ngModel"
          type="password"
          class="form-control"
          placeholder="Syötä vanha salasana"
          name="vanhasalasana"
          ngModel
          required
          required
        />
      </div>

      <div class="form-group">
        <label for="salasana">Uusi salasana:</label>
        <input
          #tunnus="ngModel"
          type="password"
          class="form-control"
          placeholder="Syötä uusi salasana"
          name="salasana"
          ngModel
          required
          required
          minlength="5"
        />
        <div
          class="alert alert-danger"
          [hidden]="!f.form.hasError('minlength', 'salasana')"
        >
          <strong>Varoitus!</strong> Salasanasi on liian lyhyt
        </div>
      </div>

      <div class="form-group">
        <label for="salasana2">Uusi salasana uudelleen:</label>
        <input
          #tunnus="ngModel"
          type="password"
          class="form-control"
          placeholder="Syötä uusi salasana uudelleen"
          name="salasana2"
          ngModel
          required
          required
          minlength="5"
        />
        <div
          class="alert alert-danger"
          [hidden]="!f.form.hasError('minlength', 'salasana2')"
        >
          <strong>Varoitus!</strong> Salasanasi on liian lyhyt.
        </div>
      </div>

      <br />
      <div class="form-group">
        <!-- Lähetetään lomake eteenpäin -->
        <button type="submit" class="btn btn-success">Vaihda</button>
        <!-- Saadaan tyhjennettyä tiedot -->
        <button
          type="button"
          class="btn btn-danger"
          (click)="f.resetForm()"
          (click)="virheidenPoisto()"
        >
          Tyhjennä
        </button>
      </div>
    </form>
  </div>

  <!-- Estetään käyttäjän poistaminen. Kun käyttäjä ei voi poistaa heti itseään
  <div *ngIf="username !== 'admin'">
    <h4>Käyttäjätunnuksen poisto</h4>
    <button type="button" class="btn btn-danger" (click)="poistaTunnus()">
      Poista tunnus
    </button>
  </div>
  <br />

  -->

  <!-- Näytetään admin käyttäjälle rautatieasemien ja käyttäjien ylläpito -->
  <div *ngIf="username === 'admin'">
    <h4>Rautatieasemien ylläpito</h4>
    <p>Asemia tietokannassa: {{ rautatietasemat.length }}</p>
    <p>Säähavaintoasemia tietokannassa: {{ havaintoasemat.length }}</p>


    <h2>Käyttäjätunnuksien ylläpito</h2>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Käyttäjätunnus</th>
            <th>id</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let k of kayttajat">
            <td *ngIf="k.username !== 'admin'">{{k.username}}</td>
            <td *ngIf="k.username !== 'admin'">{{k._id}}</td>
            <td *ngIf="k.username !== 'admin'"><span id="del" class="btn" (click)="poistaKayttaja(k)">Poista</span></td>
          </tr>
        </tbody>
      </table>
    </div>


    <h2>Asematietojen ylläpito</h2>
    <p>
      Ennen asemien lisäystä, vanhat asemat täytyy poistaa tietokannasta. Muuten
      asemat ovat kahteen kertaan.
    </p>
    <button type="button" class="btn btn-success" (click)="lisaaJunaAsemat()">
      Lisää asemat
    </button>
    <button type="button" class="btn btn-warning" (click)="poistaJunaAsemat()">
      Poista asemat
    </button>
  </div>
</div>
