<!-- Sisäänkirjautuneen käyttäjän Omat tiedot sivu.
Täällä voit päivittää suosikit, vaihtaa salasanan ja poistaa käyttäjätunnuksen.
Admin-käyttäjälle näytetään myös rautatieasemien ja käyttäjien ylläpitotiedot. -->

<div class="container">
  <div *ngIf="salasanainfo" class="alert alert-success">
    <strong>Onnistui!</strong> Salasanasi on vaihdettu
  </div>
  <div *ngIf="poistoinfo" class="alert alert-info">
    <strong>Käyttäjätunnus poistettu!</strong> Kirjaudu ulos ylälaidasta
  </div>
  <div *ngIf="suosikithtml" class="alert alert-info">
    <strong>Onnistui!</strong> Suosikit päivitetty
  </div>
  <div *ngIf="error" class="alert alert-danger">
    <strong>Salasanan vaihto epäonnistui!</strong> Salasanat eivät täsmää
  </div>
  <div *ngIf="error1" class="alert alert-danger">
    <strong>Salasanan vaihto epäonnistui!</strong> Vanha ja uusi salasana eivät
    voi olla samat
  </div>
  <div *ngIf="junainfo" class="alert alert-info">
    <strong>Toiminto onnistui!</strong> {{ junainfo }}
  </div>
  <div *ngIf="username === 'admin'" class="alert alert-warning">
    <strong>Admin kirjautunut!</strong>
  </div>
  <div *ngIf="username === null" class="alert alert-info">
    <strong>Käyttäjätunnus poistettu!</strong>
  </div>

  <div class="card" *ngIf="username !== 'admin' && username !== null">
    <h2>Hei {{ username }}</h2>
    <p>
      Omissa tiedoissa voit vaihtaa suosikki sää- ja juna-asemia, muuttaa
      salasanasi ja myös poistaa käyttäjätunnuksesi
    </p>
  </div>

  <!-- Näytetään admin käyttäjälle rautatieasemien ja käyttäjien ylläpito -->
  <div *ngIf="username === 'admin'">
    <div class="card">
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="Tietoja tietokannassa">
          <ng-template ngbPanelContent>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Taulu</th>
                  <th>Määrä</th>
                  <th>Tila</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Rautatieasemat</td>
                  <td>{{ rautatietasemat?.length }}</td>
                  <td *ngIf="rautatietasemat?.length > 1">OK</td>
                  <td *ngIf="rautatietasemat?.length < 1">Ei ok</td>
                </tr>
                <tr>
                  <td>Säähavaintoasemat</td>
                  <td>{{ havaintoasemat?.length }}</td>
                  <td *ngIf="havaintoasemat?.length > 1">OK</td>
                  <td *ngIf="havaintoasemat?.length < 1">Ei ok</td>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-2" title="Käyttäjätunnuksien ylläpito">
          <ng-template ngbPanelContent>
            <div>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Käyttäjätunnus</th>
                    <th>Id</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let k of kayttajat">
                    <td *ngIf="k.username !== 'admin'">{{ k.username }}</td>
                    <td *ngIf="k.username !== 'admin'">{{ k._id }}</td>
                    <td *ngIf="k.username !== 'admin'">
                      <span id="del" class="btn" (click)="poistaKayttaja(k)"
                        >Poista</span
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-3" title="Rautatieasemien ylläpito">
          <ng-template ngbPanelContent>
            <p>
              Ennen asemien lisäystä, vanhat asemat täytyy poistaa
              tietokannasta. Muuten ne tulevat kahteen kertaan.
            </p>
            <button
              type="button"
              class="btn btn-success"
              (click)="lisaaJunaAsemat()"
            >
              Lisää asemat
            </button>
            <button
              type="button"
              class="btn btn-warning"
              (click)="poistaJunaAsemat()"
            >
              Poista asemat
            </button>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>

  <!-- Suosikki rautatieaseman ja säähavaintoaseman määrittely-->
  <div *ngIf="username !== 'admin' && username !== null">
    <div class="card">
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="Suosikki rautatie- ja säähavaintoasemien päivitys">
          <ng-template ngbPanelContent>
            <form
              #f="ngForm"
              (ngSubmit)="suosikkienPaivitys(f.value)"
              novalidate
            >
              <div class="form-group">
                <label for="favoritesJuna1">Rautatieasema suosikki 1:</label>
                <input
                  type="search"
                  class="form-control"
                  id="favoritesJuna1"
                  name="favoritesJuna1"
                  placeholder="{{ favoritesJuna1Name }}"
                  [(ngModel)]="favoritesJuna1"
                  [ngbTypeahead]="searchRautatie1"
                  [inputFormatter]="formatterRauta"
                  [resultFormatter]="formatterRauta"
                  [editable]="false"
                  ngModel
                  required
                />

                <label for="favoritesJuna2">Rautatieasema suosikki 2:</label>
                <input
                  type="search"
                  class="form-control"
                  id="favoritesJuna2"
                  name="favoritesJuna2"
                  placeholder="{{ favoritesJuna2Name }}"
                  [(ngModel)]="favoritesJuna2"
                  [ngbTypeahead]="searchRautatie2"
                  [inputFormatter]="formatterRauta"
                  [resultFormatter]="formatterRauta"
                  [editable]="false"
                  ngModel
                  required
                />

                <label for="favoritesSaa1">Säähavainto suosikki 1:</label>
                <input
                  type="search"
                  class="form-control"
                  id="favoritesSaa1"
                  name="favoritesSaa1"
                  placeholder="{{ favoritesSaa1Name }}"
                  [(ngModel)]="favoritesSaa1"
                  [ngbTypeahead]="searchSaa1"
                  [inputFormatter]="formatterSaa"
                  [resultFormatter]="formatterSaa"
                  [editable]="false"
                  ngModel
                  required
                />

                <label for="favoritesSaa2">Säähavainto suosikki 2:</label>
                <input
                  type="search"
                  class="form-control"
                  id="favoritesSaa2"
                  name="favoritesSaa2"
                  placeholder="{{ favoritesSaa2Name }}"
                  [(ngModel)]="favoritesSaa2"
                  [ngbTypeahead]="searchSaa2"
                  [inputFormatter]="formatterSaa"
                  [resultFormatter]="formatterSaa"
                  [editable]="false"
                  ngModel
                  required
                />
              </div>
              <br />
              <div class="form-group">
                <!-- Lähetetään lomake eteenpäin -->
                <button type="submit" class="btn btn-success">
                  Päivitä suosikit
                </button>
              </div>
            </form>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-2" title="Salasanan vaihto">
          <ng-template ngbPanelContent>
            <form
              #f="ngForm"
              (ngSubmit)="salasanvaihto(f.value, f.valid)"
              novalidate
            >
              <div class="form-group">
                <label for="vanhasalasana">Vanha salasana:</label>
                <div class="input-group mb-3">
                  <input
                    #tunnus="ngModel"
                    [type]="naytasalasana ? 'text' : 'password'"
                    class="form-control"
                    placeholder="Syötä vanha salasana"
                    name="vanhasalasana"
                    ngModel
                    required
                    required
                  />
                  <div class="input-group-append">
                    <span>
                      <button
                        *ngIf="!naytasalasana"
                        type="button"
                        (click)="naytasalasanaType()"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="21"
                          height="21"
                          fill="currentColor"
                          class="bi bi-eye-slash"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"
                          />
                          <path
                            d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"
                          />
                          <path
                            d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"
                          />
                        </svg>
                      </button>
                    </span>
                    <span>
                      <button
                        *ngIf="naytasalasana"
                        type="button"
                        (click)="naytasalasanaType()"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="21"
                          height="21"
                          fill="currentColor"
                          class="bi bi-eye-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"
                          />
                          <path
                            d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"
                          />
                        </svg>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="salasana">Uusi salasana:</label>
                <div class="input-group mb-3">
                  <input
                    #tunnus="ngModel"
                    [type]="naytasalasanaUudelleen ? 'text' : 'password'"
                    class="form-control"
                    placeholder="Syötä uusi salasana"
                    name="salasana"
                    ngModel
                    required
                    required
                    minlength="5"
                  />
                  <div class="input-group-append">
                    <span>
                      <button
                        *ngIf="!naytasalasanaUudelleen"
                        type="button"
                        (click)="naytasalasanaUudelleenType()"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="21"
                          height="21"
                          fill="currentColor"
                          class="bi bi-eye-slash"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"
                          />
                          <path
                            d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"
                          />
                          <path
                            d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"
                          />
                        </svg>
                      </button>
                    </span>
                    <span>
                      <button
                        *ngIf="naytasalasanaUudelleen"
                        type="button"
                        (click)="naytasalasanaUudelleenType()"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="21"
                          height="21"
                          fill="currentColor"
                          class="bi bi-eye-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"
                          />
                          <path
                            d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"
                          />
                        </svg>
                      </button>
                    </span>
                  </div>
                </div>
                <div
                  class="alert alert-danger"
                  [hidden]="!f.form.hasError('minlength', 'salasana')"
                >
                  <strong>Varoitus!</strong> Salasanasi on liian lyhyt
                </div>
              </div>
              <div class="form-group">
                <label for="salasana2">Uusi salasana uudelleen:</label>
                <div class="input-group mb-3">
                  <input
                    #tunnus="ngModel"
                    [type]="naytasalasanaUudelleenUusi ? 'text' : 'password'"
                    class="form-control"
                    placeholder="Syötä uusi salasana uudelleen"
                    name="salasana2"
                    ngModel
                    required
                    required
                    minlength="5"
                  />
                  <div class="input-group-append">
                    <span>
                      <button
                        *ngIf="!naytasalasanaUudelleenUusi"
                        type="button"
                        (click)="naytasalasanaUudelleenUusiType()"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="21"
                          height="21"
                          fill="currentColor"
                          class="bi bi-eye-slash"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"
                          />
                          <path
                            d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"
                          />
                          <path
                            d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"
                          />
                        </svg>
                      </button>
                    </span>
                    <span>
                      <button
                        *ngIf="naytasalasanaUudelleenUusi"
                        type="button"
                        (click)="naytasalasanaUudelleenUusiType()"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="21"
                          height="21"
                          fill="currentColor"
                          class="bi bi-eye-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"
                          />
                          <path
                            d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"
                          />
                        </svg>
                      </button>
                    </span>
                  </div>
                </div>
                <div
                  class="alert alert-danger"
                  [hidden]="!f.form.hasError('minlength', 'salasana2')"
                >
                  <strong>Varoitus!</strong> Salasanasi on liian lyhyt.
                </div>
              </div>
              <br />
              <div class="form-group">
                <!-- Lähetetään lomake eteenpäin -->
                <button type="submit" class="btn btn-success">Vaihda</button>
                <!-- Saadaan tyhjennettyä tiedot -->
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="f.resetForm()"
                  (click)="virheidenPoisto()"
                >
                  Tyhjennä
                </button>
              </div>
            </form>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-3" title="Poista tunnus">
          <ng-template ngbPanelContent>
            <div class="form-group">
              <p>Käyttäjätunnuksen poisto</p>
              <button
                type="button"
                class="btn btn-danger"
                (click)="poistaTunnus()"
              >
                Poista tunnus
              </button>
              <br />
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</div>
