<div class="container">
  <!-- Jos JSON sanomassa palautuu tyhjä taulukko näytetään virhe ilmoitus-->
  <div class="alert alert-danger" *ngIf="!aikataulu?.length">
    <strong>Varoitus!</strong> Paikalta ei saatu juna tietoja.
  </div>
  <div *ngIf="station">
    <h4 *ngIf="station.type == 'STOPPING_POINT'">Seisake</h4>
    <h4 *ngIf="station.type == 'STATION'">Rautatieasema</h4>
    <h4 *ngIf="station.type == 'TURNOUT_IN_THE_OPEN_LINE'">Linjavaihde</h4>
    <h4>{{station.stationName}}</h4>
    <h4 *ngIf="!station.passengerTraffic">Ei käytössä</h4>
    <h4 *ngIf="station.passengerTraffic">Käytössä</h4>
  </div>

  <h3>Saapuvat junat</h3>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Juna</th>
          <th>Tyyppi</th>
          <th>Saapuu aikataulu</th>
          <th>Saapuu</th>
          <th>Mistä</th>
          <th>Aikatauluero</th>
        </tr>
      </thead>
      <tbody *ngFor="let aikataulu of aikataulu">
        <tr *ngIf="aikataulu.arrivalScheduledTime">
          <td><a routerLink="/juna/aikataulu/{{aikataulu.arrivalScheduledTime | date:'yyyy-MM-dd'}}/{{aikataulu.trainNumber}}">{{aikataulu.trainNumber}}</a></td>
          <td>{{aikataulu.trainType}}</td>
          <td>{{aikataulu.arrivalScheduledTime | date:'dd.MM H:mm'}}</td>
          <td>{{aikataulu.arrivalLiveEstimateTime | date:'dd.MM H:mm'}}</td>
          <td>{{aikataulu.startStationLongName}}</td>
          <td>{{aikataulu.arrivalDifferenceInMinutes}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3>Lähtevät junat</h3>
    <div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Juna</th>
          <th>Tyyppi</th>
          <th>Lähtee aikataulu</th>
          <th>Lähtee</th>
          <th>Mihin</th>
          <th>Aikatauluero</th>
        </tr>
      </thead>
      <tbody *ngFor="let aikataulu of aikataulu">
        <tr *ngIf="aikataulu.departureScheduledTime">
          <td><a routerLink="/juna/aikataulu/{{aikataulu.arrivalScheduledTime | date:'yyyy-MM-dd'}}/{{aikataulu.trainNumber}}">{{aikataulu.trainNumber}}</a></td>
          <td>{{aikataulu.trainType}}</td>
          <td>{{aikataulu.departureScheduledTime | date:'dd.MM H:mm'}}</td>
          <td>{{aikataulu.departureLiveEstimateTime | date:'dd.MM H:mm'}}</td>
          <td>{{aikataulu.endStationLongName}}</td>
          <td>{{aikataulu.departureDifferenceInMinutes}}</td>
        </tr>
      </tbody>
    </table>


  </div>

</div>