<!-- Tällä sivulla rekisteröidään käyttäjätunnus ja salasana sovellukseen.
Ja siinä voi samalla lisätä suosikit (rautatieasemat ja säähavaintoasemat). -->

<div class="container">
  <div class="card">
    <div *ngIf="error1" class="alert alert-danger">
      <strong>Rekisteröinti epäonnistui!</strong> Käyttäjätunnus käytössä tai
      virheellinen.
    </div>
    <div class="card">
      <h1>Rekisteröidy SääJuna -sovelluksen käyttäjäksi</h1>
      <p>
        Rekisteröinti mahdollistaa omien säähavaintojen ja juna-asemien
        tallennuksen suosikeiksi.
      </p>
    </div>
    <div *ngIf="error" class="alert alert-success">
      <strong>Rekisteröinti onnistui!</strong> Kirjaudu sisään
    </div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f.valid)" novalidate>
      <div class="card">
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
          <ngb-panel title="Käyttäjätunnus ja salasana">
            <ng-template ngbPanelContent>
              <div class="form-group">
                <input
                  #tunnus="ngModel"
                  type="text"
                  class="form-control"
                  placeholder="Anna käyttäjätunnus"
                  name="tunnus"
                  ngModel
                  required
                />
                <div
                  class="alert alert-danger"
                  [hidden]="
                    !f.form.hasError('required', 'tunnus') || f.pristine
                  "
                >
                  <strong>Varoitus!</strong> Nimi vaaditaan
                </div>
              </div>
              <div class="form-group">
                <div class="input-group mb-3">
                  <input
                    placeholder="Anna salasana"
                    [type]="naytasalasana ? 'text' : 'password'"
                    class="form-control"
                    name="salasana"
                    ngModel
                    required
                    minlength="5"
                  />
                  <div class="input-group-append">
                    <span>
                      <button
                        *ngIf="!naytasalasana"
                        type="button"
                        (click)="naytasalasanaType()"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="21"
                          height="21"
                          fill="currentColor"
                          class="bi bi-eye-slash"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"
                          />
                          <path
                            d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"
                          />
                          <path
                            d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"
                          />
                        </svg>
                      </button>
                    </span>
                    <span>
                      <button
                        *ngIf="naytasalasana"
                        type="button"
                        (click)="naytasalasanaType()"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="21"
                          height="21"
                          fill="currentColor"
                          class="bi bi-eye-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"
                          />
                          <path
                            d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"
                          />
                        </svg>
                      </button>
                    </span>
                  </div>
                </div>
                <div
                  class="alert alert-danger"
                  [hidden]="
                    !f.form.hasError('required', 'salasana') || f.pristine
                  "
                >
                  <strong>Varoitus!</strong> Salasana vaaditaan
                </div>
                <div
                  class="alert alert-danger"
                  [hidden]="!f.form.hasError('minlength', 'salasana')"
                >
                  <strong>Varoitus!</strong> Salasanasi on liian lyhyt min 5
                  merkkiä
                </div>
              </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="static-2" title="Rautatieasemat - suosikit">
            <ng-template ngbPanelContent>
              <div class="form-group">
                <p>Tallenna suosikkirautatieasemasi</p>
                <input
                  type="text"
                  class="form-control"
                  id="favoritesJuna1"
                  name="favoritesJuna1"
                  placeholder="Anna suosikkirautatieasema 1"
                  [ngbTypeahead]="searchRautatie1"
                  [inputFormatter]="formatterRauta"
                  [resultFormatter]="formatterRauta"
                  [editable]="false"
                  ngModel
                  required
                />
                <input
                  type="text"
                  class="form-control"
                  id="favoritesJuna2"
                  name="favoritesJuna2"
                  placeholder="Anna suosikkirautatieasema 2"
                  [ngbTypeahead]="searchRautatie2"
                  [inputFormatter]="formatterRauta"
                  [resultFormatter]="formatterRauta"
                  [editable]="false"
                  ngModel
                  required
                />
              </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="static-3" title="Säähavaintoasemat - suosikit">
            <ng-template ngbPanelContent>
              <div class="form-group">
                <p>Tallenna haluamasi säähavaintoasema suosikiksi</p>
                <input
                  type="text"
                  class="form-control"
                  id="favoritesSaa1"
                  name="favoritesSaa1"
                  placeholder="Anna suosikkisäähavaintoasema 1"
                  [ngbTypeahead]="searchSaa1"
                  [inputFormatter]="formatterSaa"
                  [resultFormatter]="formatterSaa"
                  [editable]="false"
                  ngModel
                  required
                />
                <input
                  type="text"
                  class="form-control"
                  id="favoritesSaa2"
                  name="favoritesSaa2"
                  placeholder="Anna suosikkisäähavaintoasema 2"
                  [ngbTypeahead]="searchSaa2"
                  [inputFormatter]="formatterSaa"
                  [resultFormatter]="formatterSaa"
                  [editable]="false"
                  ngModel
                  required
                />
              </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="static-4" title="Tallenna">
            <ng-template ngbPanelContent>
              <p>
                Kun olet antanut tarvittavat tiedot, voit rekisteröityä
                Rekisteröidy-painikkeella. Lomakkeen tiedot voit tyhjentää
                Tyhjennä-painikkeella.
              </p>
              <div class="form-group">
                <button type="submit" class="btn btn-success">
                  Rekisteröidy
                </button>

                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="f.resetForm()"
                >
                  Tyhjennä
                </button>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </form>
  </div>
</div>
