<div class="container">
  <div *ngIf="error1" class="alert alert-danger">
    <strong>Rekisteröinti epäonnistui!</strong> käyttäjätunnus käytössä.
  </div>
  <h2>Rekisteröidy Sääjuna -sovelluksen käyttäjäksi</h2>
  <div class="d-flex mt-3 mb-3">
    Rekisteröinti mahdollistaa omien säähavaintojen ja juna-asemien
    tallennuksen.
  </div>
  <div *ngIf="error" class="alert alert-success">
    <strong>Rekisteröinti onnistui!</strong> Kirjaudu sisään
  </div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f.valid)" novalidate>
    <div class="form-group">
      <label for="tunnus">Tunnus:</label>
      <input
        #tunnus="ngModel"
        type="text"
        class="form-control"
        placeholder="Syötä tunnus"
        name="tunnus"
        ngModel
        required
      />
      <div
        class="alert alert-danger"
        [hidden]="!f.form.hasError('required', 'tunnus') || f.pristine"
      >
        <strong>Varoitus!</strong> Nimi vaaditaan
      </div>
    </div>

    <div class="form-group">
      <div>
        <label for="salasana">Salasana:</label>
        <input
          #salasana="ngModel"
          type="password"
          class="form-control"
          placeholder="Syötä salasana"
          name="salasana"
          ngModel
          required
          minlength="5"
        />
        <div
          class="alert alert-danger"
          [hidden]="!f.form.hasError('required', 'salasana') || f.pristine"
        >
          <strong>Varoitus!</strong> Salasana vaaditaan
        </div>
        <div
          class="alert alert-danger"
          [hidden]="!f.form.hasError('minlength', 'salasana')"
        >
          <strong>Varoitus!</strong> Salasana on liian lyhyt
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="favoritesJuna1">Rautatieasema suosikki 1:</label>
      <input type="text" class="form-control" id="favoritesJuna1" name="favoritesJuna1" placeholder="Syötä rautatieasema suosikki"  ngModel required/>
      <label for="favoritesJuna2">Rautatieasema suosikki 2:</label>
      <input type="text" class="form-control" id="favoritesJuna2" name="favoritesJuna2"placeholder="Syötä rautatieasema suosikki" ngModel required/>
      <label for="favoritesSaa1">Säähavainto suosikki 1:</label>
      <input type="text" class="form-control" id="favoritesSaa1" name="favoritesSaa1" placeholder="Syötä sääasema suosikki" ngModel required/>
      <label for="favoritesSaa2">Säähavainto suosikki 2:</label>
      <input type="text" class="form-control" id="favoritesSaa2" name="favoritesSaa2" placeholder="Syötä sääasema suosikki" ngModel required/>
    </div>


    <div>
      <input
        #searchBox
        id="search-box"
        class="form-control"
        (input)="search(searchBox.value)"
        placeholder="Etsi säähavaintoasema"
      />
  
      <ul class="search-result">
        <li *ngFor="let havaintoasema of havaintoasemat">
          <a routerLink="/havaintoasematiedot/{{ havaintoasema._id }}">
            {{ havaintoasema.name }}
          </a>
        </li>
      </ul>
    </div>



    <br />
    <div class="form-group">
      <!-- Lähetetään lomake eteenpäin -->
      <button type="submit" class="btn btn-success">Rekisteröidy</button>
      <!-- Saadaan tyhjennettyä tiedot -->
      <button type="button" class="btn btn-danger" (click)="f.resetForm()">
        Tyhjennä
      </button>
    </div>
  </form>
</div>