<!-- Tällä sivulle tuodaan säähavaintoasema ja sen tiedot.
Se näkyy myös karttamerkkinä kartalla ja sen alapuolelle tuodaan aseman tämän hetkinen sää ja tuleva sääennuste. -->

<div class="container-md">
  <div
    *ngIf="saanyt?.time === '2020-09-01T09:00:00Z'"
    class="alert alert-warning"
  >
    <strong>Varoitus!</strong> Säätietojen haku epäonnistui
  </div>
  <!-- Säähavaintoaseman tiedot -->
  <div class="card">
    <div class="card">
      <div *ngIf="havaintoasema">
        <h1>{{ havaintoasema?.name }}</h1>
        <p>
          Havaintoasema {{ havaintoasema?.name }} ({{ havaintoasema?.fmisid }})
          on otettu käyttöön vuonna {{ havaintoasema?.start }}.
        </p>

        <p>
          Havaintoaseman koordinaatit ovat ({{
            havaintoasema?.latitude
          }}
          leveysastetta {{ havaintoasema?.longitude }} pituusastetta).
        </p>

        <p>
          Havaintoasema sijaitsee {{ havaintoasema?.altitude }} metrin
          korkeudessa meren pinnasta.
        </p>
      </div>
    </div>
    <!-- Aseman sijainti kartalla -->
    <div class="kartta-sijainti" *ngIf="latlng?.length !== 0">
      <div id="kartta"></div>
    </div>
    <!-- Tämän hetkinen säähavaintoaseman sää -->
    <div>
      <div class="card">
        <div *ngIf="saanyt?.time !== '2020-09-01T09:00:00Z'">
          <h2>Sää tällä hetkellä {{ saanyt?.time | date: 'dd.MM H:mm' }}</h2>
          <table class="table-responsive-sm w-auto">
            <thead>
              <tr>
                <th *ngIf="saanyt?.t2m !== null">Lämpötila</th>
                <th *ngIf="saanyt?.ws_10min !== null">Tuulen nopeus</th>
                <th *ngIf="saanyt?.wg_10min !== null">Tuulen puuska</th>
                <th *ngIf="saanyt?.wd_10min !== null">Tuulen suunta</th>
                <th *ngIf="saanyt?.rh !== null">Ilman kosteus</th>
                <th *ngIf="saanyt?.td !== null">Kastepiste</th>
                <th *ngIf="saanyt?.r_1h !== null">Sademäärä tunnissa</th>
                <th *ngIf="saanyt?.ri_10min !== null">Sateen rankkuus</th>
                <th *ngIf="saanyt?.snow_aws !== null && saanyt?.snow_aws > 0">
                  Lumen syvyys
                </th>
                <th *ngIf="saanyt?.p_sea !== null">Ilmanpaine</th>
                <th *ngIf="saanyt?.vis !== null">Näkyvyys</th>
                <th *ngIf="saanyt?.n_man !== null">Pilvisyys</th>
                <th *ngIf="saanyt?.wawa !== null">Säätila</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td *ngIf="saanyt?.t2m !== null">
                  {{ saanyt?.t2m | number: '1.0-0' }} ℃
                </td>
                <td *ngIf="saanyt?.ws_10min !== null">
                  {{ saanyt?.ws_10min | number: '1.0-0' }} m/s
                  {{ tuulenNopeus(saanyt?.ws_10min) }}
                </td>
                <td *ngIf="saanyt?.wg_10min !== null">
                  {{ saanyt?.wg_10min | number: '1.0-0' }} m/s
                  {{ tuulenPuuska(saanyt?.wg_10min) }}
                </td>
                <td *ngIf="saanyt?.wd_10min !== null">
                  {{ tuulenSuunta(saanyt?.wd_10min) }}

                  <img
                    src="../../assets/symbols/{{
                      tuulenSuuntaKuva(saanyt?.wd_10min)
                    }}.png"
                    style="height: 25px; width: 25px"
                  />
                </td>
                <td *ngIf="saanyt?.rh !== null">{{ saanyt?.rh }} %</td>
                <td *ngIf="saanyt?.td !== null">{{ saanyt?.td }} ℃</td>
                <td *ngIf="saanyt?.r_1h !== null">{{ saanyt?.r_1h }}</td>
                <td *ngIf="saanyt?.ri_10min !== null">
                  {{ saanyt?.ri_10min }}
                </td>
                <td *ngIf="saanyt?.snow_aws !== null && saanyt?.snow_aws > 0">
                  {{ saanyt?.snow_aws }}
                </td>
                <td *ngIf="saanyt?.p_sea !== null">{{ saanyt?.p_sea }} hPa</td>
                <td *ngIf="saanyt?.vis !== null">
                  {{ saanyt?.vis / 1000 | number: '1.0-0' }} km
                </td>
                <td *ngIf="saanyt?.n_man !== null">
                  {{ pilvisyys(saanyt?.n_man) }} ({{ saanyt?.n_man }}/8)
                </td>
                <td *ngIf="saanyt?.wawa !== null">
                  {{ saaSymbolit(saanyt?.wawa) }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Säähavaintoaseman sääennuste -->
    <div>
      <div class="card">
        <h2>Sääennuste {{ saaennuste?.time | date: 'dd.MM H:mm' }}</h2>
        <table class="table-responsive-sm w-auto">
          <thead>
            <tr>
              <th *ngIf="saaennuste?.Temperature !== null">Lämpötila</th>
              <th *ngIf="saaennuste?.WindSpeedMS !== null">Tuulen nopeus</th>
              <th *ngIf="saaennuste?.WindDirection !== null">Tuulen suunta</th>

              <th *ngIf="saaennuste?.WeatherSymbol3 !== null"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td *ngIf="saaennuste?.Temperature !== null">
                {{ saaennuste?.Temperature | number: '1.0-0' }} ℃
              </td>
              <td *ngIf="saaennuste?.WindSpeedMS !== null">
                {{ saaennuste?.WindSpeedMS | number: '1.0-0' }} m/s
                {{ tuulenNopeus(saaennuste?.WindSpeedMS) }}
              </td>
              <td *ngIf="saaennuste?.WindDirection !== null">
                {{ tuulenSuunta(saaennuste?.WindDirection) }}

                <img
                  src="../../assets/symbols/{{
                    tuulenSuuntaKuva(saaennuste?.WindDirection)
                  }}.png"
                  style="height: 25px; width: 25px"
                />
              </td>
              <td *ngIf="saaennuste?.WeatherSymbol3 !== null">
                <img
                  src="../../assets/symbols/{{
                    saaennuste?.WeatherSymbol3
                  }}.svg"
                  style="height: 100px; width: 100px"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
