<div class="container-md">
  <div class="tiedot">
    <div *ngIf="havaintoasema">
      <h2>{{ havaintoasema.name }}</h2>
      <p>
        Havaintoasema {{ havaintoasema.name }} ({{ havaintoasema.fmisid }}) on
        perustettu vuonna {{ havaintoasema.start }}.
      </p>

      <p>
        Havaintoaseman koordinaatit ovat (lat {{ havaintoasema.latitude }} lon
        {{ havaintoasema.longitude }}).
      </p>

      <p>
        Havaintoasema sijaitsee {{ havaintoasema.altitude }} metrin korkeudessa
        meren pinnasta.
      </p>
    </div>
  </div>

  <div>
    <div class="card">
      <h4>Sää tällä hetkellä</h4>
      <table class="table-responsive-lg">
        <thead>
          <tr>
            <th>Aika</th>
            <th *ngIf="saanyt.t2m !== null">Lämpötila</th>
            <th *ngIf="saanyt.ws_10min !== null">Tuuli</th>
            <th *ngIf="saanyt.wg_10min !== null">Tuulen puuska</th>
            <th *ngIf="saanyt.wd_10min !== null">Tuulen suunta</th>
            <th *ngIf="saanyt.rh !== null">Kosteus</th>
            <th *ngIf="saanyt.td !== null">Kastepiste</th>
            <th *ngIf="saanyt.r_1h !== null">Sademäärä tunnissa</th>
            <th *ngIf="saanyt.ri_10min !== null">Sateen rankkuus</th>
            <th *ngIf="saanyt.snow_aws !== null">Lumensyvyys</th>
            <th *ngIf="saanyt.p_sea !== null">Ilmanpaine</th>
            <th *ngIf="saanyt.vis !== null">Näkyvyys</th>
            <th *ngIf="saanyt.n_man !== null">Pilvisyys</th>
            <th *ngIf="saanyt.wawa !== null">Säätila</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ saanyt.time | date: 'dd.MM H:mm' }}</td>
            <td *ngIf="saanyt.t2m !== null">{{ saanyt.t2m }}</td>
            <td *ngIf="saanyt.ws_10min !== null">{{ saanyt.ws_10min }}</td>
            <td *ngIf="saanyt.wg_10min !== null">{{ saanyt.wg_10min }}</td>
            <td *ngIf="saanyt.wd_10min !== null">{{ saanyt.wd_10min }}</td>
            <td *ngIf="saanyt.rh !== null">{{ saanyt.rh }}</td>
            <td *ngIf="saanyt.td !== null">{{ saanyt.td }}</td>
            <td *ngIf="saanyt.r_1h !== null">{{ saanyt.r_1h }}</td>
            <td *ngIf="saanyt.ri_10min !== null">{{ saanyt.ri_10min }}</td>
            <td *ngIf="saanyt.snow_aws !== null">{{ saanyt.snow_aws }}</td>
            <td *ngIf="saanyt.p_sea !== null">{{ saanyt.p_sea }}</td>
            <td *ngIf="saanyt.vis !== null">{{ saanyt.vis }}</td>
            <td *ngIf="saanyt.n_man !== null">{{ saanyt.n_man }}</td>
            <td *ngIf="saanyt.wawa !== null">{{ saanyt.wawa }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div>
    <div class="card">
      <h4>Sääennuste</h4>
      <table class="table-responsive-lg">
        <thead>
          <tr>
            <th>Aika</th>
            <th *ngIf="saaennuste.Temperature !== null">Lämpötila</th>

            <th *ngIf="saaennuste.WeatherSymbol3 !== null"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ saaennuste.time | date: 'dd.MM H:mm' }}</td>
            <td *ngIf="saaennuste.Temperature !== null">
              {{ saaennuste.Temperature }}
            </td>
            <td *ngIf="saaennuste.WeatherSymbol3 !== null">
              <img
                src="../../assets/symbols/{{ saaennuste.WeatherSymbol3 }}.svg"
                style="height: 100px; width: 100px"
              />
              <!-- 
            <td *ngIf="saaennuste.WeatherSymbol3 !== null">
              {{ saaennuste.WeatherSymbol3 }}
              <img src="../../assets/symbols/me.png" /> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--     <td><img alt="{{m.Name}}" ng-src="{{m.Photo}}" style="height:100px;width:100px" /></td>


  
<div class="row">
                    <div class="col-sm-6 col-md-4" ng-repeat="item in items" ng-cloak>
                        <div class="thumbnail">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="http://openweathermap.org/img/w/{{item.weather[0].icon}}.png" alt="" style="max-width: 50px;">
                                    </a>
                                </div>


            <td *ngIf="saaennuste.WeatherSymbol3 !== null">
              {{ saaennuste.WeatherSymbol3 }}
              <img
                ng-src="/symbols/{{ saaennuste.WeatherSymbols3[0] }}.svg "
                style="height: 100px; width: 100px"
              />
 -->
