<div class="container">
  <div class="card">
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
    <h1>Kirjaudu sisään</h1>
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
      <div class="form-group">
        <i class="fa-solid fa-user"></i>
        <label for="tunnus"></label>
        <input
          placeholder="Anna käyttäjätunnus"
          type="text"
          class="form-control"
          name="tunnus"
          ngModel
        />
        <label for="salasana"></label>
        <input
          placeholder="Anna salasana"
          type="password"
          class="form-control"
          name="salasana"
          ngModel
        /><br />
        <div class="form-group">
          <button type="submit" class="btn btn-success">Rekisteröidy</button>

          <button type="button" class="btn btn-danger" (click)="f.resetForm()">
            Tyhjennä
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
