<div class="container">
  <div class="card">
    <h1>SääJuna Info</h1>
    <hr />
    <h3>Sovellus</h3>
    <p>
      SääJuna-sovelluksessa haetaan tiedot sekä VR:n että Ilmatieteen laitoksen
      avoimesta datasta ja tuodaan ne käyttäjälle sovellukseen.
    </p>
    <hr />
    <h3>Käyttäjä</h3>
    <p>
      Käyttäjä voi luoda sovellukseen oman käyttäjätunnuksen, jolla sovellukseen
      voi tallentaa suosikkeja (esim. suosikkipaikkakuntia, junia säähavainto-
      tai juna-asemia). Käyttäjä voi itse poistaa käyttäjätunnuksen ja vaihtaa
      sen salasanan.
    </p>
    <hr />

    <div>
      <img
        src="../../assets/saa-juna.jpg"
        alt="Kuvankaappaus sovelluksesta"
        style="width: 100%; height: auto"
      />
      <p>Kuvankaappaus sovelluksesta</p>
    </div>
  </div>
</div>
