<!-- Tällä sivulla näytetään junan tiedot (esim. sen tämänhetkinen nopeus ja milloin tieto on viimeksi päivittynyt).
Se näkyy myös karttamerkkinä kartalla ja sen alapuolelle tuodaan sen aikataulut, jos se on liikkeellä tai ei. -->

<div class="container">
  <!-- Tarkistetaan onko dataa tulossa, muuten näytetään varoitukset -->
  <div class="alert alert-warning" *ngIf="junaaikataulu?.length <= 0">
    <strong>Varoitus!</strong> Junan aikataulu tietoa ei ole saatavilla
  </div>

  <div class="alert alert-warning" *ngIf="junanpaikka?.length <= 0">
    <strong>Varoitus!</strong> Junan sijainti tietoa ei ole saatavilla
  </div>
  <div class="card">
    <div class="card">
      <!-- Junan nopeus ym. tietoja -->
      <div class="sijainti" *ngIf="junanpaikka?.length !== 0">
        <h1>
          Junan {{ junaaikataulu?.trainNumber }}
          {{ junaaikataulu?.trainType }} sijainti
        </h1>
        <p>Junan nopeus tällä hetkellä {{ junanpaikka?.speed }} km/h.</p>

        <p>
          Sijaintitieto on päivittynyt viimeksi
          {{ junanpaikka?.timestamp | date: 'dd.MM H:mm' }}. Sijaintitieto
          päivittyy n. 15 sekunnin välein.
        </p>

        <p>
          Kaikissa junissa
          <strong>EI</strong> ole GPS:ää päällä, joten niistä ei silloin saada
          paikkatietoja.
        </p>
      </div>

      <!-- Junan sijainti kartalla -->
      <div class="kartta-sijainti" *ngIf="junanpaikka?.length !== 0">
        <div id="kartta"></div>
      </div>
    </div>
    <div class="card">
      <!-- Junan aikataulu, kun juna on liikkeellä -->
      <div
        class="aikataulu"
        *ngIf="junaaikataulu?.length !== 0 && junaaikataulu?.runningCurrently"
      >
        <h2>
          Juna {{ junaaikataulu?.trainNumber }} {{ junaaikataulu?.trainType }}
        </h2>
        <p>
          <strong>
            {{ junaaikataulu?.startStationLongName }} ->
            {{ junaaikataulu?.endStationLongName }}</strong
          >
        </p>
        <div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Asema</th>
                <th>Aika</th>
                <th>Aikatauluero (min)</th>
              </tr>
            </thead>
            <tbody *ngFor="let aikataulu of junaaikataulu?.timeTableRows">
              <tr *ngIf="aikataulu?.trainStopping === true">
                <td>{{ aikataulu?.stationLongName }}</td>
                <td *ngIf="!aikataulu?.liveEstimateTime">
                  <del>{{ aikataulu?.scheduledTime | date: 'H:mm' }}</del>
                  {{ aikataulu?.actualTime | date: 'H:mm' }}
                </td>
                <td *ngIf="aikataulu?.liveEstimateTime">
                  {{ aikataulu?.scheduledTime | date: 'H:mm' }}
                </td>
                <td *ngIf="!aikataulu?.liveEstimateTime">
                  {{ aikataulu?.differenceInMinutes }}
                </td>
                <td *ngIf="aikataulu?.liveEstimateTime"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Junan aikataulu, kun juna ei on liikkeellä -->
      <div
        class="aikataulu"
        *ngIf="junaaikataulu?.length !== 0 && !junaaikataulu?.runningCurrently"
      >
        <h3>
          Juna {{ junaaikataulu?.trainNumber }} {{ junaaikataulu?.trainType }}
        </h3>
        <p>
          {{ junaaikataulu?.startStationLongName }} ->
          {{ junaaikataulu?.endStationLongName }}
        </p>
        <div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Asema</th>
                <th>Aika</th>
              </tr>
            </thead>
            <tbody *ngFor="let aikataulu of junaaikataulu?.timeTableRows">
              <tr *ngIf="aikataulu?.trainStopping === true">
                <td>{{ aikataulu?.stationLongName }}</td>
                <td>{{ aikataulu?.scheduledTime | date: 'H:mm' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
