<!-- Tällä sivulle haetaan rautatieasema.
Rautatieasemat näkyvät myös karttamerkkeinä kartalla ja niitä klikkaamalla myös pääsee aseman tietoihin. -->

<div class="container">
  <div class="card">
    <div class="grid-container">
      <div class="asemahaku">
        <h1>Rautatieasemat</h1>
        <div class="form-group">
          <input
            class="form-control"
            #searchBox
            id="search-box"
            (input)="search(searchBox.value)"
            placeholder="Etsi rautatieasema"
            autocomplete="off"
          />

          <ul class="list-group no-bullets">
            <li *ngFor="let asema of stations">
              <a
                routerLink="/rautatieasema/{{ asema?._id }}"
                class="list-group-item list-group-item-action"
              >
                {{ asema?.stationName }}
              </a>
            </li>
          </ul>
        </div>

        <div class="card">
          <div class="kartta-sijainti">
            <div id="kartta"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
