.card {
  padding: 1rem;
  margin: 1.5rem 4vw;
  border-radius: 1rem;
  background-color: rgba(238, 237, 237, 0.22);
  border-color: rgba(238, 237, 237, 0.22);
  box-shadow: 5px 6px 6px 2px #e9ecef;
  text-align: center;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.kartta-sijainti {
  position: static;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px;
}

#kartta {
  height: 600px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
